// qui posso inserire tutti i font - colori - stili e assegnarli delle variabili 

$header-color: black;

$logo-color: #C90812;

$card-color: black;

$main-background: black;

$loader_background: black;

$title-color: white;

$info-color: grey;

