// qui posso inserire tutti i font - colori - stili e assegnarli delle variabili 

$main-font: "Montserrat, sans-serif";

$header-color: black;

$logo-color: #C90812;

$card-color: black;

$main-background: black;

$loader_background: #0E1217;

$title-color: white;

$info-color: grey;